@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

body {
  background: rgb(219, 238, 232);
  font-family: 'Spectral SC', serif;
}

/*-------------------------------login -------------------*/

.login-logo {
  width: 700px;
  font-family: Spectral SC;
  font-size: 80px;
  line-height: 1px;
  letter-spacing: 0.1em;
  color: #0070ad;
  margin: 80px auto;
}

.login {
  width: 400px;

  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-container {
  padding: 12px;
  margin-bottom: 60px;
}

.login p {
  padding: 10px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 16px;
}

.login input[type='email'],
.login input[type='password'] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type='email']:focus,
.login input[type='password']:focus {
  border-color: #888;
}

.login input[type='submit'] {
  background: #0070ad;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type='submit']:hover {
  background: #17c;
}

.login input[type='submit']:focus {
  border-color: #05a;
}

/*-------------------------------register -------------------*/

.register {
  width: 400px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}
.register-logo {
  width: 700px;
  font-family: Spectral SC;
  font-size: 80px;
  line-height: 1px;
  letter-spacing: 0.1em;
  color: #0070ad;
  margin: 80px auto;
}
.register-header,
.register p {
  margin-top: 0;
  margin-bottom: 0;
}

.register-container {
  padding: 12px;
  margin-bottom: 10px;
}

.register p {
  padding: 10px;
}

.register input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 16px;
}

.register input[type='email'],
.register input[type='login'],
.register input[type='text'],
.register input[type='password'] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.register input[type='email']:focus,
.register input[type='login']:focus,
.register input[type='text']:focus,
.register input[type='password']:focus {
  border-color: #888;
}

.register input[type='submit'] {
  background: #0070ad;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.register input[type='submit']:hover {
  background: #17c;
}

.register input[type='submit']:focus {
  border-color: #05a;
}

/*-------------------------------guestpage -------------------*/

.slogan-guest {
  align-items: center;
  display: flex;
  height: 300px;
  width: auto;
  margin: 40px 10px;
  justify-content: space-between;
  margin-right: 20%;
  color: #0070ad;
}

.part-guest {
  margin-right: 15%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.bodyBox-guest {
  position: static;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
}
.pic-guest img {
  height: 500px;
  width: auto;
  margin-right: 15%;
}
.picRoslinka-guest img {
  width: 400px;
  height: 200px;
  border: 1.5px solid #0070ad;
  margin-right: 10%;
}
.pic-guest img:hover {
  height: 520px;
  width: auto;
}

.picRoslinka-guest img:hover {
  width: 420px;
  height: 210px;
}
.bodyBox-guest h2 {
  text-align: center;
}

.bodyBox-guest input[name='input-guest'] {
  box-sizing: border-box;
  display: flex;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  margin-bottom: 20px;
  justify-content: center;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 16px;
  background: #0070ad;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.bodyBox-guest input[name='input-guest']:hover {
  background: #17c;
}

/*---------------------------------- homepage ---------------------------*/
.action-home {
  align-items: center;
  display: flex;
  height: 40%;
  width: auto;
  margin: 25% 10px;
  color: #0070ad;
}

.startBody-home h2 {
  text-align: center;
}
.startBody-home {
  margin-right: 15%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5%;
  height: 100%;
}

.properties-home {
  align-items: center;
  display: flex;
  height: 20%;
  width: auto;
  margin: 25% 10px;
  color: black;
}
.properties-home img,
.action-home img {
  height: 30px;
}
.picture-home {
  margin-top: 100px;
  width: 300px;
}
.picture-home img {
  width: 85%;
  border: 2px solid #0070ad;
}
.properties-home img:hover,
.action-home h2:hover {
  height: 35px;
  font-size: 130%;
  width: auto;
  cursor: pointer;
}

/*---------------------------------- navbar ---------------------------*/

.header {
  background-color: #0070ad;
  color: #0070ad;
  position: fixed;
  width: 100%;
}

.mainBar {
  background-color: #0070ad;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menuBar {
  background-color: #0070ad;
  text-align: end;
}

.logo {
  width: 250px;
  height: 31px;

  margin: 16px 24px 16px 0;
  float: left;
  align-items: center;
  display: flex;
  background-color: #0070ad;
}
.logo img {
  height: 40px;
  width: auto;
  margin-left: 0px;
}
.logo a {
  font-size: 30px;
  color: white;
}
.logo a:hover {
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: white;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #014a72;
  color: black;
}

/* --------------------------------flashsets ------------------------------*/

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
  min-height: 786px;

  position: inherit;
}

.flashsets-layout {
  margin-top: 64px;
  position: inherit;
}

.logo-flashsets {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 16px;
}

.sider-flashsets {
  position: inherit;
  background-color: #0070ad;
}
.menu-flashsets {
  background-color: #0070ad;
  margin-top: 10px;
  position: inherit;
}

.layout-navbar {
  border-bottom: 1px solid #fff;
}
.menuitem-flashsets {
  position: static;
}

.ant-layout-sider-zero-width-trigger {
  top: 0px;
  left: 0px;
  height: 64px;
  font-size: 25px;
  width: 30px;
  padding-top: 10px;
  background: #0070ad;
  position: fixed;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item {
  position: inherit;
}
.content-flashcards {
  position: inherit;
}

.button-flashsets {
  height: 40px;
  width: 180px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: inherit;
}

/* ----------------------flashcards------------------------------ */
.ant-card {
  position: inherit;
  float: left;
  margin: 6px;
  font-size: 20px;
}
