@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  background: rgb(219, 238, 232);
  font-family: 'Prompt', sans-serif;
}

.AppContent {
  min-height: 100vh;
}
/*-------------------------------login -------------------*/

.login-logo {
  width: 700px;
  font-size: 80px;
  line-height: 1px;
  letter-spacing: 0.1em;
  color: #1890ff;
  margin: 80px auto;
}

.login {
  width: 400px;

  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-container {
  padding: 12px;
  margin-bottom: 60px;
}

.login p {
  padding: 10px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 16px;
}

.login input[type='email'],
.login input[type='password'] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type='email']:focus,
.login input[type='password']:focus {
  border-color: #888;
}

.login input[type='submit'] {
  background: #1890ff;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type='submit']:hover {
  background: #17c;
}

.login input[type='submit']:focus {
  border-color: #05a;
}

/*-------------------------------register -------------------*/

.register {
  width: 400px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}
.register-logo {
  width: 700px;
  font-size: 80px;
  line-height: 1px;
  letter-spacing: 0.1em;
  color: #1890ff;
  margin: 80px auto;
}
.register-header,
.register p {
  margin-top: 0;
  margin-bottom: 0;
}

.register-container {
  padding: 12px;
  margin-bottom: 10px;
}

.register p {
  padding: 10px;
}

.register input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 16px;
}

.register input[type='email'],
.register input[type='login'],
.register input[type='text'],
.register input[type='password'] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.register input[type='email']:focus,
.register input[type='login']:focus,
.register input[type='text']:focus,
.register input[type='password']:focus {
  border-color: #888;
}

.register input[type='submit'] {
  background: #1890ff;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.register input[type='submit']:hover {
  background: #17c;
}

.register input[type='submit']:focus {
  border-color: #05a;
}

/*-------------------------------guestpage -------------------*/

.ant-btn.btn-join,
.ant-btn.btn-start,
.btn-more {
  height: 50px;
  width: 10vw;
  margin-left: 38%;
  justify-content: center;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: white;
  color: #1890ff;
  border: 2px solid #1890ff;
  transition: ease-in-out 0.4s;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ant-btn.btn-join {
  box-sizing: border-box;
  display: flex;
}
.ant-btn.btn-join:hover,
.ant-btn.btn-start:hover {
  color: white;
  background-color: #95e616;
  border: none;
}
.buttons {
  padding: 40px 0px 0px 0px;
}
.ant-btn.btn-start {
  margin-left: 0;
}
.btn-more {
  background-color: #1890ff;
  color: white;
  margin: 30px 0px 0px 30px;
  border: none;
}
.btn-more:hover {
  color: white;
  background-color: #95e616;
  border: none;
}

.ant-layout.layout {
  height: auto;
}

.ant-layout-footer {
  height: 35px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 3px;
  background: #1890ff;
  color: white;
}
/******************nowy ****************/
.front h1 {
  font-size: 2em;
  font-weight: bold;
  color: #1890ff;
  margin-bottom: 50%;
}

.back h1 {
  font-size: 1.2em;
  color: #95c616;
  margin-top: 0%;
  margin-bottom: 3em;
  font-weight: bold;
  width: 160px;
}

.tekst h1:before {
  display: block;
  width: 60px;
  height: 80px;
  margin: 10px;
  content: '';
  background-size: cover;
  background-position: center;
}

.site-layout-content {
  background-color: #1890ff;
  scroll-snap-align: center;
  width: 100%;
  display: inline-block;
  height: 100vh;
  padding: 0;
  justify-content: space-between;
  margin: auto;
  animation: drop 1.5s ease;
}
.blocks {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

.site-layout-content:hover {
  animation: drop 1.5s ease;
}
.page {
  width: 20%;
  margin: 0;
  height: 40%;
  position: relative;
  text-align: center;
}
.front,
.back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.front .tekst {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.back {
  transform: rotateY(180deg);
  position: relative;
  align-content: flex-start;
  z-index: 1;
}

.back .tekst {
  transform: translate3d(80%, 0, 0);
}

.tekst {
  transition: opacity 0.4s linear;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.4s linear;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.4s linear;
  opacity: 0;
}
.page:hover .front {
  transform: rotateY(-180deg);
}

.page:hover .front .tekst {
  transform: translate3d(-200%, 0, 0);
  opacity: 1;
}

.page:hover .back {
  transform: rotateY(0deg);
}

.page:hover .back .tekst {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.homepageButton {
  margin-top: 10vh;
  margin-left: 10%;
}

.page:nth-child(1) .front {
  background-image: url('../../images/fiszki.png');
}
.page:nth-child(1) .back {
  background-image: url('../../images/fiszki_back.png');
}

.page:nth-child(3) .front {
  background-image: url('../../images/kalendarz.png');
}

.page:nth-child(3) .back {
  background-image: url('../../images/kalendarz_back.png');
}
.page:nth-child(3) .back h1 {
  margin-bottom: 4em;
}
.page:nth-child(3) {
  width: 22%;
}
.page:nth-child(3) .front h1 {
  margin-bottom: 2em;
}

.page:nth-child(2) .front {
  background-image: url('../../images/test.png');
}
.page:nth-child(2) .back {
  background-image: url('../../images/test_back.png');
}

/* guestpage- głowna strona */

.startpage {
  width: 100%;
  display: flex;
  margin: auto;
  min-height: 90vh;
  align-items: center;
  background-color: white;
  scroll-snap-align: center;
}

.introduction {
  flex: 1;
  padding-left: 5%;
  padding-top: 0px;
  padding-bottom: 10%;
}
.intro-text {
  margin: 0px;
  padding: 0px;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #1890ff, #12abdb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blocks-title h1 {
  font-size: 44px;
  font-weight: 500;
  width: 38%;
  color: cornsilk;
  box-shadow: inset 0 -0.3rem #95e616;
  margin-left: 15%;
}
.blocks-title {
  height: 20vh;
  margin-top: 5%;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}

.start-cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
  padding-right: 5%;
}

.start-cover img {
  height: 100%;
  filter: drop-shadow(3px 3px 5px white);
  animation: drop 1.5s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* ----- trochę resposnywności --- */
@media screen and (max-width: 1024px) {
  .startpage {
    flex-direction: column;
    margin: auto;
    padding: 0%;
    height: auto;
  }
  .site-layout-content {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    align-content: center;
  }
  .btn-more,
  .ant-btn.btn-start {
    width: 40%;
    margin-bottom: 5%;
  }
  .ant-btn.btn-join {
    margin-left: 22%;
    margin-bottom: 5%;
    width: 45%;
  }
  .introduction {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
  }
  .blocks-title h1 {
    width: 80%;
    box-shadow: inset 0 -0.3rem #95e616;
    padding-bottom: 3%;
    text-align: center;
  }
  .blocks-title {
    margin-bottom: 13%;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .into-text p {
    font-size: 18px;
  }
  .back h1 {
    font-size: 0.5rem;
  }
  .blocks {
    flex-direction: column;
    margin-top: 0;
    width: auto;
  }
  .page {
    width: 50%;
    height: auto;
    padding: 5%;
  }
  .front {
    width: 70%;
    margin-left: 5%;
  }
  .back {
    width: 80%;
  }
  .back h1 {
    font-size: 1em;
    width: 75%;
    height: auto;
    margin-left: 10%;
  }
  .page:nth-child(3) {
    width: 60%;
  }
}

/*---------------------------------- homepage ---------------------------*/

.ant-layout-content {
  border-bottom: 2px solid white;
}

.ant-row.ant-row-space-between.ant-row-middle {
  height: 90%;
  padding: 2%;
  border-top: 1px solid black;
}

.ant-col.ant-col-7 {
  border: 2px solid white;
  display: inline-block;
  height: 90%;
}

.height-200 {
  height: 50%;
  padding: 5%;
  margin: auto;
}

.ant-btn.ant-btn-block {
  block-size: 90%;
  display: block;
  clear: both;
  border: 5px solid #1890ff;
  transition: 0.5s;
}

.ant-btn.ant-btn-block:hover {
  block-size: 90%;
  display: block;
  clear: both;
  border-width: 2px;
  color: #1890ff;
  font-weight: bold;
}

.buttonIcon {
  color: #95e616;
  font-size: 5em;
}

.buttonText {
  font-size: 1.5em;
}

.buttonIcon:hover {
  font-style: inherit;
}
/************homepage-userinfomration *********/
.avatar {
  height: 10%;
}
.ant-avatar.ant-avatar-square.ant-avatar-icon {
  height: 10vh;
  width: 20vw;
  background-color: #fff;
}

.anticon.anticon-user.userIcon {
  padding: 5%;
  font-size: 3em;
  color: #1890ff;
}
.userInformation {
  height: 200%;
  display: block;
  margin: 10%;
  align-content: center;
}
.progressBars {
  padding: auto;
  margin: 5%;
}
.messageDiv {
  align-content: center;
  justify-content: center;
  margin: 20% 20%;
  width: 10vw;
  white-space: nowrap;
}
.ant-btn.message.ant-btn-primary.ant-btn-block {
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}

/*---------------------------------- navbar ---------------------------*/

.header {
  background-color: #1890ff;
  color: #1890ff;
  position: fixed;
  width: 100%;
}

.mainBar {
  background-color: #1890ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menuBar {
  background-color: #1890ff;
  text-align: end;
}

.logo {
  width: 250px;
  height: 31px;

  margin: 16px 24px 16px 0;
  float: left;
  align-items: center;
  display: flex;
  background-color: #1890ff;
}
.logo img {
  height: 40px;
  width: auto;
  margin-left: 0px;
}
.logo a {
  font-size: 30px;
  color: white;
}
.logo a:hover {
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: white;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background-color: #1890ff;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
  color: black;
}
.ant-layout-header {
  background-color: #1890ff;
}
/* --------------------------------flashsets ------------------------------*/

.site-layout-sub-header-background {
  background: #fff;
  padding: 0;
  font-size: 28px;
  text-align: left;
  padding-left: 20px;
}

.site-layout-background {
  min-height: 81vh;
  position: inherit;
}

.flashsets-layout {
  margin-top: 0px;
  position: inherit;
}

.logo-flashsets {
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 16px;
  border-top: 1px solid #fff;
}

.sider-flashsets {
  position: inherit;
  background-color: #1890ff;
}
.menu-flashsets {
  background-color: #1890ff;
  margin-top: 10px;
  position: inherit;
}

.layout-navbar {
  border-bottom: 1px solid #fff;
}
.menuitem-flashsets {
  position: static;
}

.ant-layout-sider-zero-width-trigger {
  top: 0px;
  left: 0px;
  height: 64px;
  font-size: 25px;
  width: 30px;
  padding-top: 10px;
  background: #1890ff;
  position: absolute;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item {
  position: inherit;
}
.content-flashcards {
  position: inherit;
}

.button-flashsets {
  height: 40px;
  width: 180px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: inherit;
}

.flashsets-loading {
  margin-right: auto;
  margin-left: auto;
}

.learn-flashsets {
  width: 84px;
  height: 75%;
  text-decoration: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.learn-flashsets-none {
  width: 84px;
  height: 75%;
  text-decoration: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
}

.learn-button-flashsets {
  height: 70px;
  width: 100px;
}
/* ----------------------flashcards------------------------------ */
.ant-card {
  position: relative;
  float: left;
  margin: 1px;
  font-size: 20px;
}

.pagination {
  top: 86vh;
  left: 50%;

  padding-top: 10px;
  position: fixed;
}

/* ----------------------flashset create------------------------------ */

/* ----------------------cards------------------------------ */

.card {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 80%;
  height: 70px;
  display: inline-block;

  background-color: #ebff6a;
  box-shadow: 5px 9px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(171, 163, 51, 1);
  -moz-box-shadow: 0px 0px 12px 2px rgba(171, 163, 51, 1);
  box-shadow: 0px 0px 12px 2px rgba(171, 163, 51, 1);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}
.card:hover {
  transform: scale(1.02);
  opacity: 1.2;
}
.card-polish {
  float: left;
  font-size: 24px;
  margin: 10px;
  text-align: justify;
  width: 27%;
  height: 80%;
  border-right: #1890ff 2px double;
}

.card-german {
  float: left;
  font-size: 22px;
  margin: 10px;
  text-align: justify;
  width: 27%;
  height: 80%;
  border-right: #1890ff 2px double;
}

.card-category {
  float: left;
  font-size: 12px;
  border-right: #1890ff 2px double;
  margin: 10px;
  text-align: justify;
  width: 15%;
  height: 80%;
}

.card-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 35px;
  width: 60px;
  float: right;
}

/* ----------------------flashcards------------------------------ */

.flashcard {
  margin-right: auto;
  margin-left: auto;
  opacity: 0.85;
  display: flex;
  width: 65%;
  height: 70px;
  display: inline-block;

  background-color: #ebff6a;
  box-shadow: 5px 9px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(171, 163, 51, 1);
  -moz-box-shadow: 0px 0px 12px 2px rgba(171, 163, 51, 1);
  box-shadow: 0px 0px 12px 2px rgba(171, 163, 51, 1);
  transition: all 0.4s ease-in-out;
}
.flashcard:hover {
  transform: scale(1.02);
  background-color: #ebff6a;
  opacity: 1.2;
}
.flashcard-polish {
  float: left;
  font-size: 24px;
  margin: 10px;
  text-align: justify;
  width: 27%;
  height: 80%;
  border-right: #1890ff 2px double;
}

.flashcard-german {
  float: left;
  font-size: 18px;
  margin: 10px;
  text-align: justify;
  width: 27%;
  height: 80%;
  border-right: #1890ff 2px double;
}

.flashcard-category {
  float: left;
  font-size: 12px;
  border-right: #1890ff 2px double;
  margin: 10px;
  text-align: justify;
  width: 15%;
  height: 80%;
}
.flashcard-level {
  float: left;
  font-size: 12px;
  border-right: #1890ff 2px double;
  margin: 10px;
  text-align: justify;
  width: 12%;
  height: 80%;
}
.flashcard-icon {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  height: 40px;
  width: 60px;
  float: right;
}

.button-flashcards-start {
  width: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  position: inherit;
  transition: all 0.5s ease-in-out;
}
.button-flashcards-start:hover {
  color: white;
  background-color: red;
}
.button-flashcards {
  width: 100%;
  margin-bottom: 10px;
  cursor: default;
  position: inherit;
  transition: all 0.5s ease-in-out;
}

.button-flashcards:hover {
  transform: scale(1);
}

.button-flashcards-learn {
  background-color: #1890ff;
  border-color: #ffffff;
  width: 10%;
  transition: all 0.5s ease-in-out;
}

.button-flashcards-learn:hover {
  background-color: white;
  color: #1890ff;
}

.flashcards-container {
  max-width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}
/* ----------------------learning ----------------- */
.cardRow {
  margin-top: 3%;
  margin-left: 0;
  padding: 0;
  border-color: lawngreen;
}
.writeRow {
  margin-top: 3%;
  margin-left: 36%;
  padding: 0;
  border-color: lawngreen;
  justify-content: flex-start;
}

.btn-next {
  padding: 5px;
}
.learningCardContainer,
.writeCardContainer,
.quizCardContainer {
  cursor: pointer;
  height: 350px;
  width: 400px;
  position: relative;
  margin: auto;
  flex-direction: column;
}
.quizCardContainer {
  margin-top: 3%;
}
.learningCard,
.learningCard .front,
.learningCard .back {
  height: 350px;
  width: 400px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
  align-items: center;
  border: none;
}
.learningCard:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}
.learningCard .front {
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  margin-bottom: 50%;
  box-shadow: 0px 0px 30px #12abdb;
}
.learningCard .back {
  text-align: center;
  transform: rotateY(180deg);
  background-color: transparent;
  box-shadow: 0px 0px 30px #65e616;
}
.german,
.polish {
  color: #333;
  font-size: 3.3em;
  padding-top: 20%;
}
.word,
.wordQuiz {
  color: #333;
  font-size: 3em;
  margin-bottom: 0px;
  margin-top: 10%;
  width: 100%;
}
.wordQuiz {
  margin-top: 5%;
}
.category {
  color: rgba(200, 10, 10, 1);
  font-size: 2.3em;
  padding-top: 10%;
}
.clickNextBtn,
.tipBtn,
.checkAnswer {
  font-size: 1.5em;
  border: none;
  width: 200px;
  height: 50px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: inset 0px 0px 10px #2c3e50;
  background: #12abdb;
  margin: auto;
}

.checkAnswer {
  width: 150px;
  height: 50px;
  margin-left: 10%;
  background-color: white;
  color: #1890ff;
  font-weight: bold;
}
.clickNextBtn {
  position: relative;
  margin-top: 30px;
}
.wordContent {
  height: 70%;
  margin-left: 10%;
}
.tipBtn,
.checkAnswer {
  width: 40%;
  font-size: 1em;
  margin-right: 5%;
  position: relative;
  margin-bottom: 5px;
  padding: 0;
  height: 40px;
}
.odpBtn {
  width: 40%;
  margin-right: auto;
  padding: 0;
}
.learningMenu {
  border: 1px solid #1890ff;
  width: 25%;
  margin-top: 0%;
  margin-left: 37%;
}
.sider-flashsets-learning {
  height: 100vh;
}
.mainLearning {
  display: flex;
  height: 85vh;
}
.menuChoice {
  border: none;
  justify-content: center;
  width: 100%;
  padding: auto;
  margin-top: 3%;
  align-items: center;
  height: 60vh;
}

.writeCard,
.quizCard {
  height: 350px;
  width: 400px;
  position: absolute;
  border-radius: 30px;
  align-items: center;
  border: none;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  margin-bottom: 50%;
  box-shadow: 0px 0px 30px #12abdb;
}

.learningCardContainer h1 {
  color: black;
}
.writeCardContainer {
  height: 50vh;
  padding: 0;
  margin: 0;
}

.translateInput {
  padding: 0;
  width: 60%;
}
.translateDiv {
  margin-top: 30%;
  margin-bottom: 10%;
  margin-left: 10%;
  padding: 0;
  width: 85%;
  justify-content: center;
  display: flex;
}
.asnwerDiv {
  width: 55%;
  align-items: center;
}
/* -- jeszcze troche poprawic przy pisaniu buttona-- */
@media screen and (max-width: 1300px) {
  .learningMenu {
    width: 30%;
    margin-left: 35%;
    margin-bottom: 5%;
  }
  .clickNextBtn {
    margin-top: 5%;
  }
}

@media screen and (max-width: 1200px) {
  .learningMenu {
    width: 35%;
    margin-left: 33%;
    margin-bottom: 5%;
  }
  .selectedMode .writeRow {
    display: block;
    margin-top: 10px;
    margin-bottom: -45px;
  }
  .writeRow {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    padding: 0%;
    height: 40vh;
  }
  .writeCard {
    height: 100%;
  }
  .writeCardContainer {
    margin-top: 20%;
    margin-bottom: 10%;
    padding-bottom: 0%;
  }

  .asnwerDiv {
    margin-top: 0%;
    margin-bottom: 3%;
    padding-bottom: 0%;
  }
  .translateDiv {
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .learningMenu {
    width: 40%;
    margin-left: 32%;
    margin-bottom: 5%;
  }
  .clickNextBtn {
    margin-top: 5%;
    margin-left: 42%;
  }
  .quizButtons .clickNextBtn {
    margin-left: 7%;
  }
  .selectedMode .writeRow {
    display: block;
    margin-top: 0%;
    margin-bottom: 0px;
  }
  .writeRow {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    height: 50vh;
  }
  .writeCardContainer {
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .writeCard {
    height: 80%;
  }
  .asnwerDiv {
    margin-top: 0%;
    margin-bottom: 0%;
  }
}
@media (max-width: 768px) {
  .learningMenu {
    width: 50%;
    margin-top: 4%;
    margin-left: 28%;
    margin-bottom: 6%;
  }
  .clickNextBtn {
    margin-top: 6%;
    margin-left: 40%;
  }
  .quizButtons .clickNextBtn {
    width: 10%;
    margin-left: 7%;
  }
  .selectedMode .writeRow {
    display: block;
    margin-top: 0%;
    margin-bottom: 0px;
  }
  .writeRow {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
  }
  .writeCard {
    height: 100%;
  }
  .writeCardContainer {
    margin-bottom: 3%;
    margin-top: 0%;
  }
}
@media (max-width: 576px) {
  .learningMenu {
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 8%;
  }
  .clickNextBtn {
    margin-top: 8%;
    margin-left: 30%;
  }
  .writeRow {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55vh;
  }
  .writeCard {
    height: 100%;
  }

  .writeCardContainer {
    margin-bottom: 5%;
    margin-top: 0%;
  }
  .quizButtons .clickNextBtn {
    margin-left: 7%;
  }
}
/* -------------- quiz -------- */
.possibleAnswers {
  margin: 0;
  padding: 2%;
  justify-content: space-between;
}
.singleAnswer {
  margin-top: 3%;
}
