.App {
  text-align: center;
}
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap);

body {
  background: rgb(219, 238, 232);
  font-family: 'Spectral SC', serif;
}

.logo {
  width: 700px;
  font-family: Spectral SC;
  font-size: 80px;
  line-height: 1px;
  letter-spacing: 0.1em;
  color: #0070ad;
  margin: 75px auto;
  padding-top: 80px;
}

.login {
  width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-container {
  background: rgb(219, 238, 232);
  padding: 12px;
  margin-bottom: 60px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 16px;
}

.login input[type='email'],
.login input[type='password'] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type='email']:focus,
.login input[type='password']:focus {
  border-color: #888;
}

.login input[type='submit'] {
  background: #0070ad;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type='submit']:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type='submit']:focus {
  border-color: #05a;
}
