.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: rgb(219, 238, 232);
  border-bottom: 1px solid blue;
}
.navbarNavigation {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 5%;
}
.navbarLogo a {
  font-size: 40px;
}

.navbarNavigation ul {
  list-style: none;
  display: flex;
}
.navbarNavigation li {
  justify-content: space-between;
  padding: 0 0.5rem;
}

.navbarLogo {
  align-items: center;
  display: flex;
}

.navbarLogo img {
  height: 60px;
  width: auto;
}

.spacer {
  flex: 1;
}

.button {
  height: 50px;
  width: auto;
}
