.Wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1em auto;
  grid-gap: 10px;
}

@media (min-width: 0px) and (max-width: 768px) {
  .ProfilePlantImage {
    grid-column: 2/12;
    grid-row: 2/10;
  }
  .ProgressBars {
    grid-column: 2/12;
    grid-row: 10/12;
  }
  .PlantStats {
    grid-column: 2/12;
    grid-row: 12/16;
  }
  .Statistics {
    grid-column: 2/12;
    grid-row: 16/20;
  }
  .PasswordChange {
    grid-column: 2/12;
    grid-row: 20/21;
  }
}

@media (min-width: 768px) {
  .ProfilePlantImage {
    grid-column: 3/5;
    grid-row: 2/6;
  }
  .ProgressBars {
    grid-column: 2/6;
    grid-row: 6/7;
  }
  .PlantStats {
    grid-column: 2/6;
    grid-row: 7/10;
  }
  .Statistics {
    grid-column: 7/11;
    grid-row: 2/7;
  }
  .PasswordChange {
    grid-column: 7/11;
    grid-row: 7/10;
  }
}
