.App {
  text-align: center;
}
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap);

body {
  background: rgb(219, 238, 232);
  font-family: 'Spectral SC', serif;
}

.logo {
  width: 700px;
  font-family: Spectral SC;
  font-size: 80px;
  line-height: 1px;
  letter-spacing: 0.1em;
  color: #0070ad;
  margin: 30px auto;
}

.register {
  width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}

/* Reset top and bottom margins from certain elements */
.register-header,
.register p {
  margin-top: 0;
  margin-bottom: 0;
}

.register-container {
  background: rgb(219, 238, 232);
  padding: 12px;
  margin-bottom: 50px;
}

/* Every row inside .register-container is defined with p tags */
.register p {
  padding: 12px;
}

.register input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 16px;
}

.register input[type='email'],
.register input[type='login'],
.register input[type='text'],
.register input[type='password'] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.register input[type='email']:focus,
.register input[type='login']:focus,
.register input[type='text']:focus,
.register input[type='password']:focus {
  border-color: #888;
}

.register input[type='submit'] {
  background: #0070ad;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.register input[type='submit']:hover {
  background: #17c;
}

/* Buttons' focus effect */
.register input[type='submit']:focus {
  border-color: #05a;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #0070ad;
}
a:hover {
  color: #555;
}
.test {
  font-size: 17px;
  letter-spacing: 0.1em;
}
